body {
    background-image: url(suizokukan.png); no-repeat center center fixed #C0C0C0;
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;
}